.logo {
  font-weight: 700;
  font-size: 1.5em;
  margin: 0 0 0.5em 0;
  padding: 1rem;
  display: flex;
  gap: 0.3em;
  line-height: 1.25em;
}

.logo img {
  height: 1em;
  line-height: 1.25em;
}

.logo .text {
  background: linear-gradient(0.25turn, #1fa03f, #c40aab);
  background-clip: text;
  color: transparent;
  display: flex;
  align-items: center;
  gap: 0.1em;
  line-height: 1.25em;
}
