.logo {
  font-weight: 700;
  font-size: 1.5em;
  margin: 0 0 0.5em 0;
  padding: 1rem;
}

.logo span {
  background: linear-gradient(0.25turn, #1fa03f, #c40aab);
  background-clip: text;
  color: transparent;
}
