.container {
  padding: 0 1em;
}

.titleContainer {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.title {
  font-weight: bold;
  font-size: 1.2em;
}

.back {
  margin-right: 0.5em;
}

.back button {
  background-color: #eeeeee;
}
