.listItem {
  display: flex;
  align-items: center;
  width: 100;
}

.link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.listIcon {
  margin: 0 1em;
  min-height: 1.5em;
  width: 1.5em;
}

.listIcon img {
  width: 1.5em;
}

.listValue {
  border-bottom: 1px solid #dddddd;
  display: block;
  flex-grow: 1;
  padding: 0.75em 0;
}
